.item-gray-bg {
    background-color: gainsboro;
}

.container p {
    margin-bottom: 0;
}

.paleography {
    color: goldenrod;
    font-size: 24px;
    text-transform: lowercase;
    font-weight: bold;
    padding-top: 16px;
}

.translation1 {
    font-size: 24px;
    font-weight: 500;
}

.source {
    padding-bottom: 16px;
}