.root{
    flex-grow: 1;
    width: 100%;
    background-color: beige;
}


.centerImage{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 80px;
}

.wrapper{
    width:200px;
    padding:20px;
    height: 150px;
    }

.styledtable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.5em;
    min-width: 100%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledtable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styledtable tbody tr {
    background-color: cornsilk;
    border-radius: 5ch;
    border-bottom: 1px solid #dddddd;
}

.styledtable tbody tr li {
    border-width: 1in;
    border-bottom: 1px solid #dddddd;
}

.colorMenuLeccion {
    font-family: 'Architects Daughter', cursive !important;
    color:brown !important;
}